@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

.main-wrapper {
  max-width: 1000px;
  padding: 100px 0;
  margin: 0 auto;
  background-color: #000000;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  
}


@media only screen and (max-width: 600px) and (orientation: portrait) {
  .main-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .main-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .main-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .main-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .main-wrapper {
    width: 100%;
  }
}

.nav-bar {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #000000;
  color: #FFFFFF;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.portfolio-logo {
  filter: invert(10) brightness(100);
  margin-top: 20px;
  height: 80px;
  width: 100px;
  object-fit: contain;
}

.wave-hand-emoji {
  font-size: 48px;
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes waving-hand {
  0%, 60%, 100% { transform: rotate(0deg); }
  10%, 30% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
}

@keyframes typing {
  0%, 7% { left: 0%; }
  40% { left: 100%; }
  60% { left: 100%; }
  93%, 100% { left: 0%; }
}

.dev-name {
  font-weight: bold;
  color: #547792;
}

.typing-container {
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  overflow: hidden;
} 

.typing-effect {
  position: relative;
  display: inline-block;
  overflow: hidden;
  color: #FF7D29;
}

.typing-effect:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1000%;
  background: #000000;
  border-left: 2px solid #FF7601;
  animation: typing 4s steps(21) infinite alternate;
}

@keyframes typing {
  0%   { left: 0%; }
  7%   { left: 0%; }
  40%  { left: 100%; }
  60%  { left: 100%; }
  93%  { left: 0%; } 
  100% { left: 0%; }
}

.container{
  width: 100%;
  height: 100%;
}

.socials-label {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: 0.8rem;
}

